<h1>Hello from Rails!</h1>
<p>It is now <%= @time %></p>
<p>
  Time to say <%= link_to "Goodbye", say_goodbye_path %>!
</p>
 <%= 1+2 %><br>
<%= "cow" + "boy" %><br>
<%= 1.hour.from_now.localtime %>
<hr>
<% 
@files = Dir.glob('app/views/*')
for file in @files %>
file name is: <%= file %><br>
<% end %>